body {
  background-color: #c4d2d9;

}

:root {
  --primary: #2D4356;
  --secondary: #435B66;
  --tertiary: #A76F6F;
  --accent: #EAB2A0;

  --background: #c4d2d9;

  --font: #000;
  --font-inverted: #fff;
}

.App * {
  display: flex;
}

.logo_img {
  user-select: none;
  height: 1em;
  margin: auto 10px auto 0;
}

.navigation {
  background-color: var(--secondary);
  width: auto;
  justify-content: space-around;
}

.navigation .left {
  user-select: none;
  font-family: 'Cookie', cursive;
  text-transform: capitalize;
  font-size: 30px;
  padding: 10px;
  background-color: white;
}

.navigation .right {
  justify-content: center;
  align-content: center;
  border-bottom: 1px solid black;
}

.nav_link {
  color: var(--font-inverted);
  margin-right: 20px;
  padding: 10px;
  margin: auto 5px auto 5px;

  justify-self: center;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  /* color: var(--font); */
  transition: 0.1s;
  border-radius: 5px;
}

.nav_link:hover {
  color: var(--font);
  background-color: var(--accent);
}

.content {
  padding: 5px;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary);
  flex-wrap: nowrap;
  margin-top: 50px;
}

.products_showcase {
  justify-content: center;
  padding: 100px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.commerce_item_parent {
  margin: 25px 25px 25px 25px;
  text-decoration: none;
  padding: 10px;
  flex-direction: column;
  width: 300px;
  background-color: var(--primary);
  border: 1px solid var(--tertiary);
}

.content_heading {
  text-align: center;
  color: var(--font-inverted);
}

/* .commerce_item_parent:nth-child(1)::after {
  content: "Hot!";
  border: 1px solid black;
  position: absolute;
  color: var(--font-inverted);
} */


.commerce_item_parent:nth-child(1)::before {
  content: "HOT!";
  position: absolute;
  color: var(--font-inverted);
  padding: 5px;
  transform: translate(-10px, -10px);
  background-color: red;
  border-bottom-right-radius: 5px;
}

.commerce_item_parent:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
}

.cmit_thumbnail_parent {
  aspect-ratio: 1/1;
  width: auto;
  max-width: 100%;
  height: auto;
  background-color: black;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary);

  margin-bottom: 15px;
}

.cmit_thumbnail {
  max-width: 100%;
  margin-bottom: 10px;
  width: auto;
  object-fit: cover;
}

.cmit_title {
  color: var(--font-inverted);
  font-size: 23px;
  margin-bottom: 10px;
}

span.strikethrough {
  text-decoration: line-through;
  margin-right: 0.5em;
}

.cmit_price {
  color: var(--accent);
  /* font-weight: bold; */
  margin-bottom: 10px;
}

.prdt_parent {
  width: 50%;
  background-color: var(--primary);
  padding: 20px;
  flex-direction: column;
}

.prdt_thumbnail_parent {
  align-self: center;
  margin-bottom: 20px;
  margin-top: 20px;
  width: auto;
}

.prdt_thumbnail {
  border-radius: 10px;
  margin: auto;
  width: auto;
  max-width: 100%;
}

.prdt_title {
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(0,0,0,0.3);
  color: var(--font-inverted);
  margin-bottom: 20px;
  font-size: 50px;
  justify-content: space-between;
  align-items: center;
}

.prdt_price {
  font-size: 30px;
  margin-bottom: 20px;
  color: var(--accent);
}

.prdt_gallery {
  margin-bottom: 20px;
}

.prdt_gallery_link {
  text-decoration: none;
  padding: 20px;
  border: 1px solid var(--secondary);
  width: 100%;
  color: var(--accent);
}

.prdt_content {
  border: 1px solid var(--secondary);
  padding: 20px;
  color: var(--font-inverted);
  margin-bottom: 20px;
}

.buy_actions {
  position: fixed;
  background-color: var(--background);
  padding: 10px;
  bottom: 0;
  justify-content: center;
  border: 2px solid var(--primary);
  width: 20%;
  right: 0;
}

.add_to_cart {
  border: 2px solid var(--accent);
  background-color: transparent;
  padding: 10px;
  font-size: 17px;
  color: var(--accent);
  border-radius: 5px;
  transition: 0.2s;
}

.add_to_cart:hover {
  background-color: var(--accent);
  color: var(--font);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  border-radius: 10px;
}

.prdt_reviews_parent {
  flex-direction: column;
  border: 1px solid var(--secondary);
}

.review_parent {
  background-color: var(--secondary);
  flex-direction: column;
  margin: 10px 0 10px 0;
  padding: 10px;
  border-bottom: 1px solid var(--secondary);
  border-top: 1px solid var(--secondary);
}

.review_top {
  flex-direction: row;
  font-size: 20px;
  margin-bottom: 10px;
}

.review_author {
  color: var(--accent);
  margin-right: 10px;
}

.review_stars {
  color: var(--accent);
}

.review_content {
  color: var(--font-inverted)
}

.cart_parent {
  width: 70%;
  padding: 50px;
  flex-direction: column;
}

.crti_parent:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.crti_parent, .cart_sum {
  border: 2px solid var(--primary);
  width: auto;
  padding: 10px;
  /* overflow-x: hidden; */
  flex-direction: row;
  margin: 25px 0 25px 0;
}

.crti_thumbnail_parent {
  background-color: black;
  margin-right: 20px;
}

.crti_thumbnail {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.crti_right {
  flex-direction: column;
  width: auto;
  flex: 1;
  /* border: 1px solid black; */
  padding: 20px 20px 20px 0;
}

.crti_title {
  font-size: 35px;
  color: var(--font-inverted);
}

.crti_price, .crti_quantity {
  margin-top: 20px;
  font-size: 20px;
  color: var(--accent);
}

/* .crti_quantity {
  flex-grow: 1;
} */

.crti_sum {
  justify-self: flex-end;
  align-self: flex-end;
  margin-top: auto;

  font-size: 25px;
  color: var(--font-inverted);
}

.cart_sum {
  font-size: 25px;
  justify-content: end;
  background-color: var(--accent);
}